@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar .navlink,
  .navbar .navlink:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: var(--appliance-font);
    font-size: 19px;
    font-weight: 400;
    color: var(--appliance-text);
    transition: 0.5 ease;
  }

  .navbar .navlink i,
  .navbar .navlink:focus i {
    font-size: 12;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar .navlink:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > .navlink {
    color: var(--appliance-primary);
    transition: 0.5s ease;
  }
  .navbar .getstarted,
  .navbar .getstarted:focus {
    background: #f2f2f2;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
  }
  .navbar .getstarted:hover,
  .navbar .getstarted:focus:hover {
    color: #f2f2f2;
    color: #171717;
  }
  .navbar .dropdown {
    position: relative;
    display: inline-block;
  }
  .navbar .dropdown-content {
    /* display: none; */
    flex-direction: column;
    position: absolute;
    top: 140%;
    background-color: white;
    min-width: 16vw;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.8s ease, opacity 0.8s ease;
    border-top: 2px solid var(--appliance-primary);
    background-color: #0a1936;
    line-height: 30px;
    padding: 10px 25px 10px;
  }
  .dropdown-content li {
    padding: 10px;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .dropdown-content li a {
    /* height: 0; */
    color: var(--appliance-white);
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0 12px;
  }

  .dropdown-content li a:hover {
    /* background-color: #f1f1f1; */
    color: var(--appliance-primary);
    transition: all 0.5s ease;
  }
  .dropdown:hover .dropdown-content {
    height: 54vh;
    opacity: 1;
    overflow: visible;
  }
}

/* @media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover ul {
    left: -100%;
  }
} */

.mobile-nav-toggle {
  display: none;
}
@media (max-width: 1270px) {
  .navbar {
    padding: 0;
    z-index: 9997;
  }

  .navbar ul {
    display: none;
    position: absolute;
    inset: 55px 15px 15px 15px;
    padding: 10px 0;
    margin: 0;
    border-radius: 10px;
    background-color: #f2f2f2;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #171717;
    white-space: nowrap;
    transition: 0.3s;
  }
}
