.navmob {
  position: absolute;
  left: -110%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  transition: all 0.5s ease 0.2s;
}
.navmob.open {
  left: 0%;
  transition: all 0.5s ease 0.2s;
}

.inner-menu {
  position: absolute;
  width: 28vw;
  min-width: 300px;
  height: 100vh;
  left: -100%;
  background-color: var(--appliance-black);
  color: aliceblue;
  transition: all 0.3s ease;
  overflow-y: scroll;
  scrollbar-width: none;
}
.inner-menu.open {
  left: 0;
  transition: all 0.3s ease;
}

.menu-content {
  padding: 30px 15px;
}

.menu {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.menu-header {
  margin-bottom: 40px;
  position: relative;
}
.menu-header .close-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 26px;
  font-weight: bold;
  color: wheat;
}
.logo-text h1 {
  font-size: 28px;
}
.logo-text h3 {
  font-size: 24px;
  text-align: right;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  height: 46px;
  transition: height 0.5s ease, opacity 0.3s ease 0.2s;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.menu-link {
  padding-left: 3px;
  width: 100%;
}

.menu-item.drop {
  height: 400px;
  transition: height 0.5s ease, opacity 0.3s ease 0.2s;
}

.menu-item .menu-dropdown {
  position: relative;
  /* display: inline-block; */
  width: 100%;
}
.menu-item .menu-dropdown .menu-link {
  display: flex;
  justify-content: space-between;
}
.menu-dropbtn .icon-down {
  background-color: var(--appliance-base);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 16px;
  transform: rotate(-90deg);
  transition: transform 500ms ease;
}
.menu-dropbtn .icon-down.rotate {
  transform: rotate(0deg);
  background-color: #ffffff;
}
.menu-dropbtn .icon-down.rotate path {
  stroke: var(--appliance-base);
}

.menu-item .menu-dropdown-content {
  flex-direction: column;
  /* min-width: 16vw; */
  padding: 0;
  height: 0;
  opacity: 0;
  margin-left: 10px;
  overflow: hidden;
  transition: height 0.5s ease, opacity 0.3s ease 0.2s;
}
.menu-item .menu-dropdown-content li {
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  height: 46px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.menu-item .menu-dropdown-content li:last-child {
  border-bottom: none;
}

.menu-item .menu-dropdown-content li a {
  color: var(--appliance-white);
  font-weight: 500;
}

.menu-item .menu-dropdown-content.show-menu {
  color: var(--appliance-primary);
  height: 350px;
  overflow: visible;
  transition: height 0.5s ease, opacity 0.3s ease 0.2s;
  opacity: 1;
}

.menu .contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.menu .contacts-icon {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu .contacts-icon i {
  width: 30px;
  height: 30px;
  font-size: 11px;
  background-color: var(--appliance-primary);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
}
.menu .contacts-icon span {
  font-size: 14px;
  transition: color 0.4s ease;
}

.menu .contacts-icon span:hover {
  color: var(--appliance-base);
}

.menu .social-icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu .social-icons i {
  font-size: 17px;
  transition: all 0.4s ease;
}
.menu .social-icons i:hover {
  color: var(--appliance-base);
}
.menu .social-icons svg:hover {
  fill: var(--appliance-base);
  /* stroke: var(--appliance-base); */
}
