.hero {
  width: 100%;
  background-image: url('/assets/img/slider/page-header-bg-img.jpg');
  background-color: #4f748e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  height: auto;
  width: 100%;
}

.hero-inner {
  display: block;
  text-align: center;
  padding: 219px 0 132px;
}
.hero-inner .hero-title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 900;
  text-transform: capitalize;
  line-height: 70px;
}
.hero-inner .hero-bredcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--appliance-white);
  font-size: 18px;
  font-weight: 300;
  text-transform: capitalize;
}
