.footer {
  background: #071125;
  color: var(--appliance-white);
}
.footer-head-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 95px 0;
  max-width: 1200px;
}
@media (max-width: 1200px) {
  .footer-head-items {
    padding: 0;
  }
}

@media (max-width: 1023px) {
  .footer .footer-header .container {
    display: flex;
    justify-content: center;
  }
  .footer-head-items {
    flex-direction: column;
    align-items: baseline;
    gap: 34px;
  }
  .footer-head-item .line {
    display: none;
  }
}

.footer-header {
  position: relative;
  padding: 24px 0 22px;
  border: 1px solid #222c41;
  background-color: #071125;
}
.footer-head-item {
  position: relative;
}
.footer-head-item {
  display: flex;
  align-items: center;
  gap: 27px;
}

.footer-head-item i {
  font-size: 32px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--appliance-base);
  transition: all 0.9s ease;
}
.footer-head-item:hover i {
  font-size: 28px;
}

.footer-head-item .line {
  position: absolute;
  top: -25px;
  bottom: -39px;
  right: -50px;
  width: 1px;
  background-color: #1e2739;
}

.item-content {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.item-content span {
  font-size: 18px;
  line-height: 19px;
  padding-bottom: 2px;
  font-weight: 300;
}
.item-content a {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}

.item-content .item-tel {
  font-size: 22px;
  font-weight: 500;
}

.footer-inner {
  display: flex;
  justify-content: center;
  padding: 63px 0 41px;
}
.footer-inner-items {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}

.footer-inner-item {
  width: 25%;
}

.footer-logo {
  text-transform: uppercase;
  color: var(--appliance-base);
}
.footer-item-contents {
  color: #696d77;
}

.footer-item-contents .item-content-text {
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  color: #696d77;
  margin: 10px 0 20px;
}
.footer-item-contents .footer-socials {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-item-contents .footer-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: all 0.5s ease;
  border: 1px solid #9da2ae;
  color: var(--appliance-white);
}

.footer-item-contents .footer-social-icon:hover {
  border: 1px solid var(--appliance-base);
  background-color: var(--appliance-base);
  color: var(--appliance-black);
  transition: all 0.5s ease;
}

.footer-item-contents .footer-social-icon:hover svg {
  fill: var(--appliance-black);
  transition: all 0.5s ease;
}

.footer-inner-item .footer-item-head {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  color: var(--appliance-white);
  margin-bottom: 17px;
}

.footer-item-contents li a {
  display: inline-block;
  font-size: 17px;
  font-weight: 400;
  margin-top: 6px;
  color: #696d77;
  transition: all 500ms ease;
}

.footer-item-contents li a:hover {
  color: var(--appliance-white);
}

.footer-copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0 29px;
  color: #696d77;
  font-size: 18px;
  font-weight: 300;
}
.footer-copy p {
  margin: 0;
}

@media (max-width: 769px) {
  .footer-inner-items {
    flex-direction: column;
    gap: 30px;
    padding: 0 30px;
  }
  .footer-inner-item {
    width: 100%;
  }
  .footer-copy {
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
  }
  .footer-copy p {
    text-align: center;
  }
  .footer-logo img {
    max-width: 90%;
  }
}
