.blog {
  padding: 120px 0 120px;
}
.blog .container {
  max-width: 1200px;
}

.blog-item {
  margin-bottom: 40px;
}

.blog-item-img {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: #000000;
  height: auto;
  max-width: 100%;
}

.blog-item-img img {
  height: auto;
  max-width: 100%;
  transition: all 500ms ease-in-out;
  transition-delay: 0.1s;
}

.blog-item-img:hover img {
  transform: scale(1.05);
  opacity: 0.4;
}

.blog-item-content {
  position: relative;
  display: block;
  background-color: var(--appliance-white);
  padding-top: 31px;
  padding-left: 35px;
  margin-left: 40px;
  margin-top: -55px;
}

.blog-item-date {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  color: var(--appliance-primary);
  letter-spacing: 0.02em;
}

.blog-item-title {
  margin-top: 20px;
  word-wrap: break-word;
  font-size: 34px;
  font-weight: 900;
  line-height: 41px;
  text-transform: capitalize;
}
.blog-item-title a {
  transition: all 0.5s ease;
}

.blog-item-title a:hover {
  color: var(--appliance-primary);
}

.blog-item-desc {
  padding-top: 18px;
  padding-bottom: 15px;
  color: var(--appliance-gray);
  font-family: var(--appliance-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.blog-btn-box {
  text-transform: uppercase;
  color: var(--appliance-primary);
}
.blog-btn-box a {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: var(--appliance-font-two);
  color: var(--appliance-primary);
  transition: all 500ms ease;
}

.blog-btn-box a:hover {
  color: var(--appliance-black);
}

@media only screen and (max-width: 988px) {
  .blog .container {
    max-width: 720px;
  }
}

@media only screen and (max-width: 542px) {
  .blog-item-title {
    font-size: 22px;
  }
  .blog-item-content {
    margin-left: 0;
  }
}
